<div class="btn-group">
  <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"
          aria-expanded="false">
    [{{serverName}}] {{serverUrl}} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li ng-repeat="domain in options"><a href="" ng-click="setActiveDomain(domain.url)">[{{domain.name}}]
      {{domain.url}}</a>
    </li>
  </ul>
</div>
