<div class="navbar-header bg-dark">
  <button class="pull-right visible-xs dk" ui-toggle="show" target=".navbar-collapse">
    <i class="glyphicon glyphicon-cog"></i>
  </button>
  <button class="pull-right visible-xs" ui-toggle="off-screen" target=".app-aside" ui-scroll="app">
    <i class="glyphicon glyphicon-align-justify"></i>
  </button>
  <!-- brand -->
  <a href="#/" class="navbar-brand text-lt">
    <i class="fa fa-support"></i>
    <img src="images/logo.png" alt="." class="hide">
    <span class="hidden-folded m-l-xs">Supportal</span>
  </a>
  <!-- / brand -->
</div>
<!-- / navbar header -->


<!-- navbar collapse -->
<div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">

  <div class="nav navbar-nav hidden-xs">
    <div style="height: 20px;margin-top: -10px;">
      <ng-include src="'views/clock.html'" ng-controller="ClockCtrl"></ng-include>
    </div>

  </div>
  <!-- nabar right -->
  <ul class="nav navbar-nav navbar-right">
    <!--<li class="dropdown">-->
      <!--<a href="#" data-toggle="dropdown" class="dropdown-toggle">-->
        <!--<i class="icon-bell fa-fw"></i>-->
        <!--<span class="visible-xs-inline">Notifications</span>-->
        <!--<span class="badge badge-sm up bg-danger pull-right-xs" ng-show="hotNews.length">{{hotNews.length}}</span>-->
      <!--</a>-->
      <!--&lt;!&ndash; dropdown &ndash;&gt;-->
      <!--<div class="dropdown-menu w-xl animated fadeInUp">-->
        <!--<div class="panel bg-white">-->
          <!--<div class="panel-heading b-light bg-light">-->
            <!--<strong>You have <span>{{hotNews.length}}</span> notifications</strong>-->
          <!--</div>-->
          <!--<div class="list-group">-->
            <!--<a href="" class="media list-group-item" ng-repeat="item in hotNews">-->
                    <!--<span class="media-body block m-b-none">-->
                      <!--&lt;!&ndash; todo: this needs to be fixed. It doesnt work. &ndash;&gt;-->
                      <!--{{item.msg}}-->
                    <!--</span>-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; / dropdown &ndash;&gt;-->
    <!--</li>-->
    <li class="dropdown">
      <span data-toggle="dropdown" class="dropdown-toggle clear">
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img ng-src="{{userAvatar}}" alt="{{userAvatar}}">
                <i class="on md b-white bottom"></i>
              </span>
        <span class="hidden-sm hidden-md">{{personalFullName}}</span> <b class="caret"></b>
      </span>
      <!-- dropdown -->
      <ul class="dropdown-menu animated fadeInRight w">
        <li>
          <a href="#/settings">
            <span>{{captions.settings}}</span>
          </a>
        </li>
        <li>
          <a href="#/">
            <span>{{captions.supportal}}</span>
          </a>
        </li>
      </ul>
      <!-- / dropdown -->
    </li>
  </ul>
  <!-- / navbar right -->
</div>
<!-- / navbar collapse -->
