<div class="row">
  <div class="col-md-5">
    <div class="panel wrapper">
      <h4 class="font-thin m-t-none m-b text-muted">{{captions.savedCredentials}}</h4>

      <div class="panel-body">
        <form class="form-inline" role="form">
          <div class="form-group">
            <img src="images/logo-personal.png" class="settings-logo"/>
          </div>
          <div class="form-group">
            <label class="sr-only" for="personalFullName">{{captions.fullName}}</label>
            <input type="text" class="form-control" id="personalFullName" placeholder="Your Full Name"
                   ng-model="cookies.personalFullName">
          </div>
          <div class="form-group">
            <label class="sr-only" for="personalEmailAddress">{{captions.emailAddress}}</label>
            <input type="email" class="form-control" id="personalEmailAddress" placeholder="Your Email Address"
                   ng-model="cookies.personalEmailAddress">
          </div>
        </form>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <form class="form-inline" role="form">
          <div class="form-group">
            <img src="images/logo-lp.png" class="settings-logo"/>
          </div>
          <div class="form-group">
            <label class="sr-only" for="livepersonUsername">{{captions.userName}}</label>
            <input type="text" class="form-control" id="livepersonUsername" placeholder="Username"
                   ng-model="cookies.livepersonUsername">
          </div>
          <div class="form-group">
            <label class="sr-only" for="livepersonPassword">{{captions.password}}</label>
            <input type="password" class="form-control" id="livepersonPassword" placeholder="Password"
                   ng-model="cookies.livepersonPassword">
          </div>
        </form>
        <!--<div class="line line-dashed b-b line-lg pull-in"></div>-->
        <!--<form class="form-inline" role="form">-->
          <!--<div class="form-group">-->
            <!--<img src="images/logo-salesforce.png" class="settings-logo"/>-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<label class="sr-only" for="salesforceUsername">{{captions.username}}</label>-->
            <!--<input type="text" class="form-control" id="salesforceUsername" placeholder="Username"-->
                   <!--ng-model="cookies.salesforceUsername">-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<label class="sr-only" for="salesforcePassword">{{captions.password}}</label>-->
            <!--<input type="password" class="form-control" id="salesforcePassword" placeholder="Password"-->
                   <!--ng-model="cookies.salesforcePassword">-->
          <!--</div>-->
        <!--</form>-->


        <!--<div class="line line-dashed b-b line-lg pull-in"></div>-->
        <!--<form class="form-inline" role="form">-->
          <!--<div class="form-group">-->
            <!--<img src="images/logo-exact.png" class="settings-logo"/>-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<label class="sr-only" for="exactTargetUsername">{{captions.username}}</label>-->
            <!--<input type="text" class="form-control" id="exactTargetUsername" placeholder="Username"-->
                   <!--ng-model="cookies.exactTargetUsername">-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<label class="sr-only" for="exactTargetPassword">{{captions.password}}</label>-->
            <!--<input type="password" class="form-control" id="exactTargetPassword" placeholder="Password"-->
                   <!--ng-model="cookies.exactTargetPassword">-->
          <!--</div>-->
        <!--</form>-->
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-inline">


          <p class="pull-right">
            <button class="btn btn-danger btn-sm" ng-click="clearCredentialCookies()">{{captions.reset}}</button>
            <button class="btn btn-success btn-sm" ng-class="{'disabled':!changesDetected}"
                    ng-click="setCredentialCookies()">{{changesDetected?captions.save:captions.saved}}
            </button>
          </p>
        </div>

      </div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="panel wrapper">
      <!--<label class="i-switch bg-warning pull-right" ng-init="showSpline=true">-->
      <!--<input type="checkbox" ng-model="showSpline">-->
      <!--<i></i>-->
      <!--</label>-->

      <h4 class="font-thin m-t-none m-b text-muted">{{captions.preferences}}</h4>


      <ul class="list-group no-radius">

        <li class="list-group-item">
          <span class="pull-right">
           <div class="btn-group">
             <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"
                     aria-expanded="false">
               {{defaultServerName}} <span class="caret"></span>
             </button>
             <ul class="dropdown-menu" role="menu">
               <li ng-repeat="domain in config.serverDomains"><a href="" ng-click="setActiveDomain(domain.url)">[{{domain.name}}]
                 {{domain.url}}</a>
               </li>
             </ul>
           </div>
          </span>
          {{captions.defaultServerFarm}}
        </li>

        <li class="list-group-item">
          <span class="pull-right">
           <label class="i-switch bg-info m-t-xs m-r">
             <input type="checkbox" ng-attr-checked="{{cookies.linkWindowTarget==='_blank'}}"
                    ng-model="cookies.linkWindowTarget"
                    ng-true-value="'_blank'" ng-false-value="'_self'">
             <i></i>
           </label>
          </span>
          {{captions.openLinksInNewWindow}}
        </li>
        <li class="list-group-item">
          <span class="pull-right">
           <label class="i-switch bg-info m-t-xs m-r">
             <input type="checkbox" ng-attr-checked="{{cookies.showAdvancedTools==='true'}}" checked=""
                    ng-model="cookies.showAdvancedTools" ng-true-value="'true'" ng-false-value="'false'">
             <i></i>
           </label>
          </span>
          {{captions.alwaysShowExpandedTools}}
        </li>
      </ul>
    </div>
    <div class="panel wrapper">
      <h4 class="font-thin m-t-none m-b text-muted">{{captions.favoriteAccounts}}</h4>
      <ul class="list-group no-radius">
        <li class="list-group-item" ng-repeat="fave in cookies.favorites track by $index">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"><input type="text"
                                                                    class="form-control input-xs ng-pristine ng-valid ng-touched"
                                                                    placeholder="Account"
                                                                    ng-model="fave.account"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> <span class="pull-right">
           <domain-dropdown options="config.serverDomains" ng-model="fave.serverUrl"></domain-dropdown>
          </span></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
              <button class="btn btn-xs btn-default" ng-hide="$first" ng-click="removeFavorite($index)"><i
                class="fa fa-remove"></i></button>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel wrapper">
      <ul class="list-group no-radius">
        <h4 class="font-thin m-t-none m-b text-muted">{{captions.profileSettings}}</h4>
        <li class="list-group-item">
          <span class="thumb-sm avatar select-avatar m-t-n-sm m-b-n-sm m-l-sm"
                ng-class="{'selected': cookies.userAvatar.indexOf(avatar)!==-1}"
                ng-repeat="avatar in config.avatars">
                <img src="images/avatars/{{avatar}}" ng-click="setAvatar('images/avatars/'+avatar)">
              </span></li>
      </ul>
    </div>
  </div>
</div>
